#our-story-content.content
  %br
  .intro.our-story
    Traditional Vietnamese Tea Ceremony
  = image_tag "branch_v3.png", class: "branch_v3"
  .story
    %p We will be having our tea ceremony at 10 AM starting at the Bride’s residence. The Bride’s family and immediate relatives will assemble at the Bride’s house to await the arrival of the bridegroom. The groom and his entourages will come in smartly dressed shirts and ties, and dark trousers, carrying gold canisters covered in gold cloth, containing traditional gifts and goods to come and receive the Bride at the Bride’s house.

    %p Upon arrival to the Bride’s house, each side of the family will meet, greet and introduce to each other. The wedding ceremony will begin in front of the altar, and the groom and bride exchange their wedding rings. After that, a formal tea and some speeches from both parents will follow. The groom’s parents will then ask the bride’s parents for a permission to receive the Bride and take her to the groom’s house.

    %p At the groom’s house, we will have a Vietnamese food potluck in couple hours before heading to the Venue for reception.

    %p Bride’s house:     319 Checkers Dr, APT 104, San Jose, CA 95133.

    %p Groom’s house:   130 Ferrari Ave, San Jose, CA 95110.

  %br
  %br
  %br
  .intro.our-story
    The Wedding Reception
  = image_tag "branch_v3.png", class: "branch_v3"
  %br
  %br
  %div Saturday, September 8th, 2018.
  %br
  %div 5:30PM
  %br
  %div Attire: Semi-formal
  %br
  %div Silver Creek Valley Country Club
  %br
  %div 5460 Country Club Pkwy, San Jose, CA 95138
  .story
    %p The retro-royal Chaboya Lounge is a perfect setting for cocktails and after party. The elegance of the grand staircase and artful dimed skylight welcome guests.

    %p As you enter our amazing ballroom, floor to ceiling windows provide panoramic valley views for any standout celebration, big or small, with equal style.
  = image_tag "silver_creek.jpg"
  %br
  %br
  %br
  %br
  .intro.our-story
    Accommodations
  %br
  %br
  %div Mineta San Jose International Airport.
  %br
  %div 1701 Airport Blvd, San Jose, CA
  %br

  %div Wyndham Garden San Jose Silicon Valley
  %br
  %div 399 Silicon Valley Blvd, San Jose, CA 95138
  %br
  .story
    %p Approximately 1.9 miles away from Silver Creek Valley Country Club. The hotel has a 3.5 star-rating. Room rates range from $169 to $299. 

    %p Check out more hotels near Silver Creek Valley Country Club at:
    %p http://www.thehotelnexus.com/hotels-near-landmark/Silver%20Creek%20Valley%20Country%20Club/tgn_1539

  %br
  %br
  .intro.our-story
    Things to Do
  %br
  %br
  %br
  %div Santana Row
  %br
  %div 377 Santana Row, San Jose, CA 95128, USA
  %br
  .story
    %p Good place to hang out, listen to live musics, shopping, eat good foods, you name it !
  
  %br
  %div San Jose Vietnam Town
  %br
  %div 909-999 Story Rd, San Jose, CA 95122, USA
  %br
  .story
    %p The plaza where you can find a variety of Vietnamese foods and desserts!

  %br
  %div Filoli Historic House & Garden
  %br
  %div 86 Canada Road, Woodside, CA 94062
  .story
    %p Nature discovery. Check out for bloom with a variety of flowers. 

  %br
  %div Palace of Fine Arts Theatre
  %br
  %div 3301 Lyon St, San Francisco, CA 94123, USA
  %br
  .story
    %p The Palace of Fine Arts in the Marina District of San Francisco, CA, is a monumental structure originally constructed for the 1915 Panama-Pacific Exposition in order to exhibit works of art presented there. 
    %p A great place to take picture! 
    %p Approximately an hour away from San Jose!

  %br
  %div Golden Gate Bridge
  %br
  %div Golden Gate Bridge, San Francisco, CA, USA
  %br
  .story
    %p There are 2 vista points where people stop and take pictures, the first stop before crossing the bridge has information about the bridge (when and how it was made, etc.). The other stop let you take close-up picture with the bridge. 
    %p After crossing the bridge, if you make the U-turn, there is an exit that take you to the Marin Headlands, where you can see the whole San Francisco from the top of a mountain. 