.slideshow-container
  - ["IMG_4240.JPG", "IMG_4265.JPG", "IMG_4241.JPG", "IMG_4242.JPG", "IMG_4239.JPG", "IMG_4238.JPG", "IMG_4247.JPG", "IMG_4249.JPG", "IMG_4236.JPG", "IMG_4237.JPG", "IMG_4248.JPG", "IMG_4261.JPG", "IMG_4243.JPG", "IMG_4244.JPG", "IMG_4245.JPG", "IMG_4246.JPG", "IMG_4251.JPG", "IMG_4260.JPG", "IMG_4258.JPG", "IMG_4254.JPG", "IMG_4253.JPG", "IMG_4250.JPG", "IMG_4259.JPG"].each do |img|
    .mySlides.fade
      = image_tag img
  %a.prev{:onclick => "plusSlides(-1)"} ❮
  %a.next{:onclick => "plusSlides(1)"} ❯
%br/
%div{:style => "text-align:center"}
  - 23.times do |i|
    %span.dot{:onclick => "currentSlide(#{i+1})"}
%br
%br
%br
.intro
  PLEASE JOIN US FOR OUR WEDDING CELEBRATION ON
%br
%br
%br  
.date
  September 8, 2018
%br
%br
%br
#clock

%canvas#canvas

:javascript
  var HeartsBackground = {
    heartHeight: 60,
    heartWidth: 64,
    hearts: [],
    heartImage: '#{asset_path("hearts-256.png")}',
    maxHearts: 24,
    minScale: 0.4,
    draw: function() {
      this.setCanvasSize();
      this.ctx.clearRect(0, 0, this.w, this.h);
      for (var i = 0; i < this.hearts.length; i++) {
        var heart = this.hearts[i];
        heart.image = new Image();
        heart.image.style.height = heart.height;
        heart.image.src = this.heartImage;
        this.ctx.globalAlpha = heart.opacity;
        this.ctx.drawImage (heart.image, heart.x, heart.y, heart.width, heart.height);
      }
      this.move();
    },
    move: function() {
      for(var b = 0; b < this.hearts.length; b++) {
        var heart = this.hearts[b];
        heart.y += heart.ys;
        if(heart.y > this.h) {
          heart.x = Math.random() * this.w;
          heart.y = -1 * this.heartHeight;
        }
      }
    },
    setCanvasSize: function() {
      this.canvas.width = window.innerWidth;
      this.canvas.height = window.innerHeight;
      this.w = this.canvas.width;
      this.h = this.canvas.height;
    },
    initialize: function() {
      this.canvas = $('#canvas')[0];

      if(!this.canvas.getContext)
        return;

      this.setCanvasSize();
      this.ctx = this.canvas.getContext('2d');

      for(var a = 0; a < this.maxHearts; a++) {
        var scale = (Math.random() * (1 - this.minScale)) + this.minScale;
        this.hearts.push({
          x: Math.random() * this.w,
          y: Math.random() * this.h,
          ys: Math.random() + 1,
          height: scale * this.heartHeight,
          width: scale * this.heartWidth,
          opacity: scale
        });
      }

      setInterval($.proxy(this.draw, this), 30);
    }
  };

  $(document).ready(function(){
    HeartsBackground.initialize();
  });

  $('#clock').countdown('2018/09/08', function(event) {
    var $this = $(this).html(event.strftime(''
      + '<span>%D</span> days '
      + '<span>%H</span> hr '
      + '<span>%M</span> min '
      + '<span>%S</span> sec'));
  });
  
  var audio = new Audio('beautiful_in_white.mp3');
  audio.loop = true;
  audio.play();

  var slideIndex = 0;
  showSlides(slideIndex);
  
  function carousel() {
    plusSlides(1)
  }
  var timeInt = setInterval(carousel, 10000);

  // Next/previous controls
  function plusSlides(n) {
    showSlides(slideIndex += n);
    clearInterval(timeInt);
    timeInt = setInterval(carousel, 10000);
  }

  // Thumbnail image controls
  function currentSlide(n) {
    showSlides(slideIndex = n);
    clearInterval(timeInt);
    timeInt = setInterval(carousel, 10000);
  }

  function showSlides(n) {
    var i;
    var slides = document.getElementsByClassName("mySlides");
    var dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1} 
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none"; 
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "block"; 
    dots[slideIndex-1].className += " active";
  }

  carousel();
