#rsvp-content.content
  .divider
  %h3 For RSVP (phuc dap)
  %br
  %br
  Liem's email: tttliem86@gmail.com
  %br
  %br
  %br
  Dong's email: dxdon88@gmail.com
  %br
  %br
  %br
  Liem: 559-668-4904
  %br
  %br
  %br
  Dong: 559-387-8904
  .divider

:javascript
  if (!document.audio) {
    var audio = new Audio('beautiful_in_white.mp3');
    audio.loop = true;
    audio.play();
    document.audio = audio;
  }