#our-story-content.content
  %br
  .intro.our-story
    THE STORY OF US
  = image_tag "branch_v3.png", class: "branch_v3"
  .story
    %p
      %span.time-line
        August, 2010: 
      Dong and Liem first time met each other at his brother’s house when Liem came to check out the room for rent.
    %p
      %span.time-line
        November, 2010: 
      First time Dong asked Liem to go out for dinner at In and Out in Davis after school
    %p
      %span.time-line
        April, 2011: 
      Liem received her very first kiss ever in her life by Dong when they celebrated Dong’s birthday together.
    %p
      %span.time-line
        June 2011: 
      Dong officially asked Liem to be his girlfriend. Liem accepted it.
    %p
      %span.time-line
        July 2016: 
      Dong finally got down on one knee in Napa when they celebrated their belated 5 th year dating anniversary.
    %p
      %span.time-line
        July 2017: 
      They celebrated their official engagement tea ceremony.
  %br
  %br
  %br
  .intro.our-story
    Liem’s Perspective
  = image_tag "branch_v3.png", class: "branch_v3"
  .story
    %p As a college student, I had to look for a new place to move in after I finished my 3rd academic year of undergraduate at UC Davis. Fate brought me and Dong together when I met him at his brother’s house where I was going to share a room for my next academic year of undergraduate. It was certainly love at first sight for me when I met Dong at this moment.

    %p It was summer 2010 when I was driving to West Sac with my mom to check out the room. The weather was insanely hot and sultry at the time. We entered the house and happened to see a masculine guy with a pair of glasses coming down from the second story, wearing a long sleeve sweater. I thought this guy was such a weirdo because who wore such a long sleeve sweater in such a hot burning summer like this. His masculine body, manly beard and his pair of glasses really caught my attention already, yet I pretended to ignore him when he tried to offer me half of burritos at the time. I was thinking why he even bothered to ask me sharing his burritos because I didn’t even know who he was- such a weirdo. Not only being weird, Dong also made me think that he was so retarded when I asked him for the direction to Stockton and he ended up showing me wrong direction. “Such a weird, retarded Vietnamese guy” was what I thought about Dong when we first met. Yet I couldn’t stop thinking about this weirdo after we met on that day. Few months later, I started moving in my new place and being his housemate. Our rooms were next to each other and were only separated by a wall, so he could always hear I cough every night during my sleep and I could always hear his snores every night. I gave him rides to school and back home every day, but this weirdo never volunteered to pay me any gas or showed any appreciation to me- What a careless, inattentive weirdo.

    %p I usually coughed horribly at night time during winter due to my seasonal bronchitis. Nice enough, Dong made lemonade for me to suppress my coughing. Not only that, he tried to make food for me after school. His small actions really meant a lot to me because no man in this planet, except my dad, ever treated me this nice and sweet. I was not the easiest person to date. I was shy, jaded, cold, stubborn, skeptic of love, difficult to smile and arrogant to interact with men. Dong didn’t see the flaw, insecure, broken and stubborn person I thought myself to be. He saw the light in me and made it his personal mission to break the hard wall I built. Dong with his sense of humors, and warm heart, just happened to change my whole world. Nine months after being his housemate, on Monday night at home after school, Dong knocked my room and asked me to become his girlfriend. We officially started dating in June 2011.

    %p Five years later since we started dating, it was on July 2016, we planned on going to Napa for hot-air balloon as Dong wanted to celebrate our 5 th dating anniversary. We woke up in early morning on that day and were getting ready for the hot air balloon at the registration desk. Dong told me to go outside and wait for him as he said he needed to use the restroom before we got onto the flight. I was standing outside and waiting for him. Few minutes later, Dong got out from the restroom, approached to me, hold my hands and said “Baby, I have a question for you.” I immediately knew what was happening, and a split second later he took out a small brown little box from his jacket, got down on one knee, opened the box and said “will you marry me?” I was so surprised and overwhelmed with joy and emotion by covering my face with my hands for seconds and said “Yes”. Who thought he would lock me down by a ring on this day, but he really did. We were engaged after 5 years dating.

    %p I am very excited for this next chapter of our lives and can’t wait to see what future holds for us.