#our-story-content.content
  %br
  .intro.our-story
    Liem’s Perspective
  = image_tag "branch_v3.png", class: "branch_v3"
  .story
    %p As a college student, I had to look for a new place to move in after I finished my 3rd academic year of undergraduate at UC Davis. Fate brought me and Dong together when I met him at his brother’s house where I was going to share a room for my next academic year of undergraduate. It was certainly love at first sight for me when I met Dong at this moment.

    %p My thought about Dong when we first met was that he was such a weirdo because of the way he acted and talked. But his masculine body, manly beard and his pair of glasses really caught my attention already, yet I pretended to ignore him when he tried to offer me half of burritos at the time. As housemates, we went to school together every day by my car, but this weirdo never volunteered to pay me any gas or showed any appreciation to me. More than that, he always called me “Chi” as “Big sister” in Vietnamese which made me really not happy- What a heartless and inattentive weirdo.

    %p As time went by, Dong cared for me more. He always tried to cook for me after school and made lemonade for me when I coughed. His small actions really meant a lot to me because no man in this planet, except my dad, ever treated me this nice and sweet. I was not the easiest person to date. I was shy, jaded, cold, stubborn, skeptical to love, difficult to smile and arrogant to interact with men. Dong didn’t see the flaw, insecure, broken and stubborn person I thought myself to be. He saw the light in me and made it his personal mission to break the hard wall I built. Dong with his sense of humor, and warm heart, just happened to change my whole world.

    %p Nine months after being his housemate, on Monday night at home after school, Dong knocked my room and asked me to become his girlfriend. We officially started dating in June 2011.

    %p Five years later since we started dating, it was on July 2016, we planned on going to Napa for hot-air balloon as Dong wanted to celebrate our 5 th dating anniversary. Right before our ride on the hot-air balloon, Dong approached to me, hold my hands and said “Baby, I have a question for you.” I immediately knew what was happening, and a split second later he took out a small brown little box from his jacket, got down on one knee, opened the box and said “will you marry me?” I was so surprised and overwhelmed with joy and emotion by covering my face with my hands for seconds and said “Yes”. Who thought he would lock me down by a ring on this day, but he really did. We were engaged after 5 years dating.

    %p I am very excited for this next chapter of our lives and can’t wait to see what future holds for us.
  = image_tag "our_story.jpg"
  %br
  %br
  %br
  .intro.our-story
    Dong’s Perspective
  = image_tag "branch_v3.png", class: "branch_v3"
  .story
    %p Our story began in West Sacramento where we first met as housemates.

    %p Liem wanted to rent a room at my brother’s place for college. It was an affordable rent of about $300, but what reeled her in was that she heard that there was a hot, manly and smart guy who was also going to UC Davis at that time--what a bargain.

    %p I was not attracted to Liem at all in the first place so when I first offered her a share of my enchiladas, she denied it.

    %p She gave me a ride to school mostly every day, and I asked her if I could pay some gas but she said no. As time went by, I would call her ‘Chi’ as “Big sister” in Vietnamese, because that’s how I felt about her--but I did not know how she felt about me at the time. All I knew was she was super duper shy to me and whenever we ate together, she would try to hide her face behind her bowl--what a weird girl.

    %p Towards the end of my college life at UC Davis, I started to have stronger feelings for her. What I saw about Liem was a strong, independent woman, and that was something I wanted. Our first date as a couple was at the movie theater and watched My Crazy, Stupid Love. From that moment on, Liem always wanted me to lift her up like Ryan Gosling did to Emma Stone--I still can’t.

    %p Moving back from Davis to Fresno was hard because we were separated by distance, but everytime she lite up my phone, it would bright me up with a smile--and a lot of people who were near me could tell I was talking to her. She was the motivation to move forward with schooling and to become a better person. I knew during this time, I wanted to spend the rest of my life with her because I enjoyed all the times we’ve spent together. I wanted to take our relationship to higher heights metaphorically, so I literally proposed her right before our hot air balloon ride in Napa Valley. It’s been a blessed journey for the last 7 years together working at Liem Corp., and I can’t wait to be promoted to husband status soon with its reduced payrolls and similar benefit status as her boyfriend/fiance.