%ul
  %li
    = link_to "Home", "/"
  %li.tab
    %a{:href => "#"}
      Our story
  %li
    = link_to "Gallery", gallery_path
  %li.tab
    %a{:href => "#"}
      Wedding events
  %li.tab
    %a{:href => "#"}
      Wedding party
  %li.tab
    %a{:href => "#"}
      Getting there
  %li.tab
    %a{:href => "#"}
      RSVP
