%ul
  %li
    %a{:href => "#"}
      Home
  %li.tab
    %a{:href => "#"}
      Our story
  %li
    %a{:href => "#"}
      Gallery
  %li.tab
    %a{:href => "#"}
      Wedding events
  %li.tab
    %a{:href => "#"}
      Wedding party
  %li.tab
    %a{:href => "#"}
      Getting there
  %li.tab
    %a{:href => "#"}
      RSVP
